/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #443f3c;
	font-family: 'Bree Serif', serif;
}

header{
	background: #696864;
	font-size: 2.5em;
	padding:20px 2%;
	text-align: center;

	h1{
		color: #c2b602;
		text-shadow: 2px 2px 2px #026a75;
	}
}


/* 2. Content ================================= */


form{
	margin: 30px 5%;
	font-size: 25px;
	color: #46bebc;

	label{
		margin-bottom: 40px;
		padding: 2%;

		input{
			font-size: 25px;
			background: #c2b602;
		}
	}

	br{
		height: 30px;
	}

	a{
		text-decoration: none;
		background: #026a75;	
		font-size: 20px;
		padding: 3px 5px;
		border-radius: 10px;

		&:hover{
			background: #46bebc;
		}
	}
}

li{
	display: flex;
	flex-direction: column;
	margin: 35px 8%;
	width: auto;


	img{
		width: 300px;
		height: 200px; 
	}

	a{
		text-decoration: none;
		color: #c2b602;	
		font-size: 30px;
		padding: 3px 5px;
		border-radius: 10px;
		text-shadow: 2px 1px 1px #026a75;

		&:hover{
			color: #46bebc;
		}
	}

	p{
		font-size: 20px;
		color: #46bebc;
	}
}

